[submodule "src/MOM6"]
	path = src/MOM6_interface/MOM6
	url = https://github.com/geogate-io/MOM6
	branch = feature/dlmom
[submodule "src/GeoGate"]
	path = src/GeoGate
	url = https://github.com/geogate-io/GeoGate
	branch = main
[submodule "src/CDEPS"]
	path = src/CDEPS
	url = https://github.com/geogate-io/CDEPS
	branch = feature/build_fix
[submodule "src/CMEPS"]
	path = src/CMEPS
	url = https://github.com/geogate-io/CMEPS
        branch = feature/esmx
[submodule "src/CICE_interface/CICE"]
	path = src/CICE_interface/CICE
	url = https://github.com/NOAA-EMC/CICE.git
